<!--%include "header.html" --always -->

<h1>Søren's Corner</h1>

<p>Allow me to introduce myself. My name is Søren, and I also go by
the alias <b>slu</b>. This is a personal website, and it's nothing
fancy. I'm trying to make it look like a personal website from the
90s; what was back then called a homepage.</p>

<p><em>Please note, that this site is hosted in $country. You can find
a copy hosted in $other_country
here <a href="$other_site_url">$other_site_url</a>.</em></p>

<h2>About Me</h2>

I've been dabbling with computers for many years and, unsurprisingly,
I ended up working as a Software Developer and later as an IT
consultant. I have a wide range of competencies and experiences in the
field of computers and software development. Currently, I'm using
those to develop infrastructure and solutions in the cloud,
specifically AWS.


<h3>My Other Sites</h3>

<ul>
  <li><a href="https://codeberg.org/slu">My public Git Repositories
  (hosted on Codeberg)</a></li>
  <li><a href="https://www.emacswiki.org/emacs/SorenLund">My page on
  the EmacsWiki (I use Emacs for all my development work)</a></li>
</ul>

<h2>Links</h2>

<dl>
  <dt><a href="https://codeberg.org/">Codeberg</a></dt>
  <dd>A non-profit, community-led organization that aims to help free
  and open-source projects prosper by giving them a safe and friendly
    home (I donate yearly)</dd>
  <dt><a href="https://email.faircode.eu/">FairMail</a></dt>
  <dd>Android Email client with a focus on privacy and security (I
  bought the Pro version)</dd>
  <dt><a href="https://www.gnu.org/software/emacs/">GNU Emacs</a></dt>
  <dd>An extensible, customizable, open-source text editor (I've been
  using it since the early 90s)</dd>
  <dt><a href="https://kagi.com/">Kagi</a></dt>
  <dd>Search the web with great results and no ads (it costs money,
  but I think it's worth it)</dd>
  <dt><a href="https://sdf.org/">SDF Public Access UNIX System</a></dt>
  <dd>Non-profit public access UNIX shell provider with lots of other
  goodies (I'm a paying member)</dd>
</dl>

<!--%include "footer.html" --always -->
